body {
  font-family:'Denk One', sans-serif;
  max-height: 100vh;
  margin: 0 auto;
}

.home {
  margin: 5em auto 0 auto;
  text-align: center;
}
.home_link{
  border-bottom: 2px solid violet;
}

.home_link:hover{
  color: violet;
  border-color: black;
}

.index_pics {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.show_wrapper {
  text-align: center;
}

.show_pic {
  margin: 0 auto;
  height: 75%;
  width: 75%;
}

.pics {
  margin: .5em auto;
  height: 50%;
  width: 50%;
}

.pics:hover {
  height: 60%;
  width: 60%;
}

.insta_index {
  margin: 0 auto;
  height: 100vh;
}

.h3_title, .h2_title {
  margin: 0 auto .5em auto;
  text-align: center;
  border-bottom: 2px violet solid;
}
a, .h3_title{
  text-decoration: none;
  color: black;
}
.h3_title{
  border: 2px solid violet;
  display: inline;
}
.h3_title:hover{
  color: violet;
  border-color: black;
}
